<!-- views/admin/users.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>

<body>
    <%- include('../navbar', { user_cookie: user_cookie, title: "Users List" }) %>

    <div class="user-list-container">
        <h2>Users List</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.dob %></td>
                        <td><%= user.email %></td>
                        <td><%= user.address %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>
