<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <%- include('navbar', { user_cookie: user_cookie, role: role, title: "Product Details", searchContainer: true }) %>

    <div class="content-container">
        <div style="display:flex;">
            <img src="<%= product.image %>" alt="<%= product.name %>" style="max-height: 50%;max-width:50%;object-fit: contain;">
            <div style="width:50vw;display:flex; place-content: center;flex-direction: column;justify-content: flex-start; gap:0px;">
                <h1><%= product.name %></h1>
                <p>Price: <%= product.price %> zł</p>
                <p>Quantity: <%= product.quantity %></p>
                <p>Category: <%= product.category %></p>
                <p>Colour: <%= product.colour %></p>
                <p>Height: <%= product.height %></p>
                <p>Width: <%= product.width %></p>
                <p>Depth: <%= product.depth %></p>
                <p>Style: <%= product.style %></p>
                <p>Material: <%= product.material %></p>

                <% if(role=="user"){ %>
                    <% if(product.quantity > 0) { %>
                    <div class="button-container">
                        <a href="/cart/add/<%= product.id %>?returnUrl=<%= url %>" class="cart-button-link">
                            <button class="button" action="post">Add to Cart</button>
                        </a>
                    </div>
                    <% } else { %>
                        <p style="color: red;">Out of Stock</p>
                    <% } %>

                <% } else if (role == "admin")  { %>
                    <div class="button-container">
                        <a href="/admin/modify/<%= product.id %>?returnUrl=<%= url %>" class="cart-button-link">
                            <button class="button" action="post">Modify</button>
                        </a>
                    </div>
                    <br>
                    <div class="button-container">
                    <br>

                        <a href="/admin/delete/<%= product.id %>?returnUrl=<%= url %>" class="cart-button-link">
                            <button class="button" action="post">Delete</button>
                        </a>
                    </div>
                <% } %>
                <br>
                <div class="button-container">
                    <br>

                    <button onclick="goBack()">Go back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>
