<!-- views/product.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <a href="/">
                <img src="https://i.imgur.com/wMlNUW0.png" alt="Logo">
            </a>
        </div>
        <div class="navbar-title">
            Product Details
        </div>
        <a href="/login">
        <div class="login-button">Zaloguj
        </div></a>
    </div>

    <div class="content-container">
        <h1><%= product.name %></h1>
        <img src="<%= product.image %>" alt="<%= product.name %>">
        <p>Price: <%= product.price %></p>
        <p>Quantity: <%= product.quantity %></p>
        <p>Category: <%= product.category %></p>
        <p>Colour: <%= product.colour %></p>
        <p>Height: <%= product.height %></p>
        <p>Width: <%= product.width %></p>
        <p>Depth: <%= product.depth %></p>
        <p>Style: <%= product.style %></p>
        <p>Material: <%= product.material %></p>
    </div>
</body>

</html>
