<!-- views/products.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"> <!-- Zaktualizowana ścieżka -->
    <style>
        /* styles.css */

        body {
            font-family: 'Arial', sans-serif;
            /* Zmiana na bezszeryfową czcionkę, np. Arial */
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }



        .product-tile img {
            max-width: 100%;
            height: auto;
        }

        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            text-align: center;
        }

        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            margin-left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(191, 187, 220, 1);
            color: #333;
            padding: 10px;
            z-index: 1000;
        }

        .logo img {
            width: 100px;
            height: auto;
        }

        .login-button {
            background-color: rgba(95, 23, 60, 1);
            color: rgba(191, 187, 220, 1);
            border: none;
            padding: 10px 20px;
            text-decoration: none;
            font-family: 'Arial', sans-serif;
            font-size: 1em;
            cursor: pointer;
        }

        .navbar-title {
            font-size: 1.5em;
            margin: 0 auto;
        }

        .content-container {
            margin-top: 60px;
            padding: 20px;
        }


        .product-tile {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px;
            text-align: center;
            max-width: 200px;
        }

        a {
            color: black;
            text-decoration: none;
        }


        .product-container {
            display: flex;
            flex-wrap: wrap;
        }

        .product-tile {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px;
            text-align: center;
            max-width: 200px;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <a href="/">
                <img src="https://i.imgur.com/wMlNUW0.png" alt="Logo">
            </a>
        </div>

        <div class="navbar-title">
            Products
        </div>

        <div class="sort-dropdown">
            <label for="sort">Sort by: </label>
            <select id="sort" onchange="sortProducts()">
                <option value="name">By name</option>
                <option value="price">By price</option>
                <option value="quantity">By quantity</option>
                <option value="height">By height</option>
                <option value="width">By width</option>
                <option value="depth">By depth</option>
            </select>
        </div>

        <a href="/login">
            <div class="login-button">
                Log in
            </div>
        </a>
    </div>

    <div class="content-container">

        <div class="product-container">
            <% products.forEach(product => { %>
                <a href="/product/<%= product.id %>" class="product-tile" data-name="<%= product.name %>"
                    data-price="<%= product.price %>" data-quantity="<%= product.quantity %>"
                    data-height="<%= product.height %>" data-width="<%= product.width %>" data-depth="<%= product.depth %>">
                    <img src="<%= product.image %>" alt="<%= product.name %>" style="max-width: 100%; height: auto;">
                    <h2><%= product.name %></h2>
                    <p>Price: <%= product.price %>zł</p>
                    <p>Quantity: <%= product.quantity %></p>
                </a>
            <% }); %>
        </div>
    </div>

    <script>
        function sortProducts() {
            var attribute = document.getElementById('sort').value;
            var productsContainer = document.querySelector('.product-container');
            var products = Array.from(productsContainer.children);

            products.sort(function (a, b) {
                var aValue = a.getAttribute(`data-${attribute}`);
                var bValue = b.getAttribute(`data-${attribute}`);

                if (isNaN(aValue) || isNaN(bValue)) {
                    // If values are not numeric, perform string comparison
                    return aValue.localeCompare(bValue);
                } else {
                    // If values are numeric, perform numeric comparison
                    return parseFloat(aValue) - parseFloat(bValue);
                }
            });

            // Remove existing products from container
            productsContainer.innerHTML = '';

            // Append sorted products to container
            products.forEach(function (product) {
                productsContainer.appendChild(product);
            });
        }
    </script>
</body>


</html>