<!-- views/products.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="../styles.css"> <!-- Zaktualizowana ścieżka -->
</head>

<body>
    <%- include('navbar', {
        user_cookie: user_cookie, role:role,
        title: "Product Details",
        searchContainer: true,
        sortDropdown: true,
    }) %>
        
    
    <div class="filter-container">
        <h3>Filter</h3>
        <p>By Colour</p>

        <!-- Wyświetl listę kolorów z bazy danych z odpowiednimi checkboxami -->
        <div class="color-filter">
            <div class="color-filter">
                <% colors.forEach(color=> { %>
                    <label>
                        <input type="checkbox" class="color-checkbox" value="<%= color %>"" onclick="filterProducts()">
                        <span class="color-name">
                            <%= color %>
                        </span>
                    </label>
                    <% }); %>
            </div>

        </div>
    </div>



    <div class="content-container">
        <div class="product-container">
            <% products.forEach(product=> { %>
                <div class="product-tile" data-name="<%= product.name %>"
                    data-price="<%= product.price %>" data-quantity="<%= product.quantity %>"
                    data-height="<%= product.height %>" data-width="<%= product.width %>"
                    data-depth="<%= product.depth %>" data-color="<%= product.colour %>">
                    <a href="/product/<%= product.id %>" class="product-link">
                        <img src="<%= product.image %>" alt="<%= product.name %>" class="product-image">
                        <h2>
                            <%= product.name %>
                        </h2>
                        <p>Price: <%= product.price %> zł</p>
                        <p>Quantity: <%= product.quantity %></p>
                    </a>
                    <% if(role=="user"){ %>
                        <div class="button-container">
                            <a href="/cart/add/<%= product.id %>?returnUrl=<%= url %>" class="cart-button-link">
                                <button class="button" action="post">Add to Cart</button>
                            </a>
                        </div>
                    <% } else if (role == "admin") { %>
                        <div class="button-container">
                            <a href="/admin/modify/<%= product.id %>?returnUrl=<%= url %>" class="cart-button-link">
                                <button class="button" action="post">Modify</button>
                            </a>
                        </div> 
                        <br>
                        <div class="button-container">
                            <a href="/admin/delete/<%= product.id %>?returnUrl=<%= url %>" class="cart-button-link">
                                <button class="button" action="post">Delete</button>
                            </a>
                        </div>
                    <% } %>

                </div>
            <% }); %>
        </div>
    </div>

    <script>
        function sortProducts() {
            var attribute = document.getElementById('sort').value;
            var productsContainer = document.querySelector('.product-container');
            var products = Array.from(productsContainer.children);

            products.sort(function (a, b) {
                var aValue = a.getAttribute(`data-${attribute}`);
                var bValue = b.getAttribute(`data-${attribute}`);

                if (isNaN(aValue) || isNaN(bValue)) {
                    // If values are not numeric, perform string comparison
                    return aValue.localeCompare(bValue);
                } else {
                    // If values are numeric, perform numeric comparison
                    return parseFloat(aValue) - parseFloat(bValue);
                }
            });

            // Remove existing products from container
            productsContainer.innerHTML = '';

            // Append sorted products to container
            products.forEach(function (product) {
                productsContainer.appendChild(product);
            });
        }
        function filterProducts() {
            var selectedColors = Array.from(document.querySelectorAll('.color-checkbox:checked')).map(function (checkbox) {
                return checkbox.value;
            });

            var productsContainer = document.querySelector('.product-container');
            var products = Array.from(productsContainer.children);

            products.forEach(function (product) {
                var productColor = product.getAttribute('data-color');

                if (selectedColors.length === 0 || selectedColors.includes(productColor)) {
                    product.style.display = 'block';
                } else {
                    product.style.display = 'none';
                }
            });
        }
        function searchProducts() {
            var searchInput = document.getElementById('searchInput').value;

            // Przekieruj użytkownika do nowego adresu URL, aby uruchomić wyszukiwanie
            window.location.href = '/search?search=' + searchInput;
        }

    </script>
</body>


</html>