<!-- views/product.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= product.name %></title>
</head>
<body>
  <h1><%= product.name %></h1>
  <img src="<%= product.image %>" alt="<%= product.name %>">
  <p>Price: <%= product.price %></p>
  <p>Quantity: <%= product.quantity %></p>
  <!-- Dodaj inne informacje o produkcie według potrzeb -->
</body>
</html>
