<!-- views/product.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    <%- include('navbar', { user_cookie: user_cookie }) %>

        <div class="navbar-title">
            Product Details
        </div>


    <div class="content-container">
        <h1><%= product.name %></h1>
        <img src="<%= product.image %>" alt="<%= product.name %>">
        <p>Price: <%= product.price %> zł</p>
        <p>Quantity: <%= product.quantity %></p>
        <p>Category: <%= product.category %></p>
        <p>Colour: <%= product.colour %></p>
        <p>Height: <%= product.height %></p>
        <p>Width: <%= product.width %></p>
        <p>Depth: <%= product.depth %></p>
        <p>Style: <%= product.style %></p>
        <p>Material: <%= product.material %></p>

        <button class="add-to-cart-button">Add to Cart</button>
    </div>
</body>

</html>
