<!-- views/cart.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witaj w sklepie lKEA</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css">

    <style>
        .nowa_klasa {
            display: block;
            margin-bottom: 20px; /* Add margin to separate each product */
        }
    </style>
</head>

<body>
    <%- include('../navbar', { user_cookie: user_cookie }) %>
    <div class="content-container">
        <form action="/cart/save" method="GET">
        <% products.forEach(product => { %>
            <div class="product-container-2" data-name="<%= product.name %>">
                <a href="/product/<%= product.id %>" style="display: block">
                    <img src="<%= product.image %>" alt="<%= product.name %>" style="max-width: 25%; height: auto; margin-bottom: 10px;">
                    <h2><%= product.name %></h2>
                </a>

                <div class="quantity-options">
                    <input type='number' name='quantity_<%= product.id%>' id="quantity_<%= product.id%>" required="true" value="<%= product.quantity %>" min="1" />
                    <a href ="/cart/delete/<%= product.id %>" class="delete-button"> delete </a>
                </div>
            </div>
        <% }); %>

        
        <input type="submit" class="submit-button" style="width: 100px" value="Save changes">

        <br />
        <br />

        <a href="cart/submit">
            <div class="submit-button">
                Submit
            </div>
        </a>

        <br />

        <a href="/cart/clear">
            <div class="submit-button">
                Clear all
            </div>
        </a>
        </form>
    </div>

</body>
</html>